@media (max-width: 1400px) {
	#footer_text_1{
		display: none;
	}
}
@media (max-width: 1100px) {
	.header_subscribe{
		margin: auto 0 auto auto;
	}
	#footer_text_2{
		display: none;
	}
}
@media (max-width: 900px) {
	.header_subscribe{
		display: none;
	}
	
	.language_switch{
		margin: auto 0 auto auto;
	}
}
@media (max-width: 700px) {
	.header_time{
		margin-left: 0;
	}
}
@media (max-width: 610px) {
	.language_switch{
		display: none;	
	}
	.header_time{
		display: none;
	}
	.footer_copyright{
    float: left;
	margin-left: 25%;
	}
}
