body{
	margin: 0 auto;
}
.header{
}
.header_info{
	height: 80px;
}
.header_info_content{
	max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex; /*Очень удобное центрирование по вертикали. Не будет поддерживаться старыми браузерами*/
}
.header_time{	
    float: left;
    margin-left: 55px;
}
.header_subscribe{
	float: right;
	height: 30px;
    margin: auto 100px auto auto;
}
.language_switch{
	float: right;
	height: 45px;
    margin: auto 0;
}
.lang{
	margin-right: 20px;
}
.header_gradient{
	height: 130px;
	background: linear-gradient(to top, #0338a5, #4e73c2);
}
.logo{
	width: 300px;
	margin: 0 auto;	
    position: relative; /* Не лучшее решение, наверное"*/
    bottom: 50px;
}

.statistics{
	max-width:1200px;
	height: 220px;
    margin: 0 auto;
    position: relative;
}
.statistic_body{
    position: absolute;
    bottom: 35px;
    width: 100%;
    display: flex; /*Мы же тру верстальщики, не верстаем под IE6*/
    justify-content: space-evenly;
}
.statistic_item{
    padding: 0 1px;
}
.statistic_photo{
	background-image: url(../img/student.png);    
	background-size: cover;
    width: 200px;
    height: 200px;
    margin: auto;
    position: relative;
}
.statistic_value{
	width: 200px;
	font-family: MicrosoftJhengHei;
	font-size: 57.7px;
	text-align: center;
	color: #ffffff;
    position: absolute;
    bottom: 5px;
}
.statistic_discription{
    font-family: MicrosoftJhengHei;
    font-size: 24px;
    text-align: center;
    margin-top: 25px;
}

.footerwidth{
	max-width: 1200px;
    margin: 0 auto;
}
.footer{
    background: #0338a5;
}
.footer_background{
    display: flex;
	height: 40px;
    max-width: 1200px;
    margin: 0 auto;
	}
	.footer_text{
		text-align: center;
	margin: auto auto auto auto;
    text-decoration-color: 
}
.footer_logo{
    float: left;
    margin-right: 20px;
    margin-left: 50px;
}
.footer_copyright{
}
.footer_copyright_text{
    margin-top: 30px;
    float: left;
    max-width: 200px;
}