body{
	margin: 0 auto;
}
.header{
}
.header_info{
	height: 80px;
}
.header_info_content{
	max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex; /*Очень удобное центрирование по вертикали. Не будет поддерживаться старыми браузерами*/
}
.header_time{	
    float: left;
    margin-left: 55px;
}
.header_subscribe{
	float: right;
	height: 30px;
    margin: auto 100px auto auto;
}
.language_switch{
	float: right;
	height: 45px;
    margin: auto 0;
}
.lang{
	margin-right: 20px;
}
.header_gradient{
	height: 130px;
	background: linear-gradient(to top, #0338a5, #4e73c2);
}
.logo{
	width: 300px;
	margin: 0 auto;	
    position: relative; /* Не лучшее решение, наверное"*/
    bottom: 50px;
}
.footer{
    background: #0338a5;
}
.footer_background{
    display: flex;
	height: 40px;
    margin-left: 10%;
    margin-right: 10%;
}
.footer_text{
	text-align: center;
    margin: auto auto auto auto;
    text-decoration-color: 
}
.footer_logo{
    float: left;
    margin-right: 20px;
}
.footer_copyright{
    float: left;
	margin-left: 10%;
}
.footer_copyright_text{
    margin-top: 30px;
}